body {
  margin: 0;
  padding: 0;
}

.board {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.title-name {
  font-size: 50px;
  margin: .2em;
}

.score {
  margin: .2em;
  font-size: 2em;
}

.square {
  border: 5px solid rgba(255, 0, 0, 0.295);
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 20px;
  font-size: 30px;
}

.turns {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.turns .square {
  border: none;
  font-size: 70px;
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

.is-selected {
  background-color: #54ca1d;
}

.text-turn {
  display: flex;
  margin-top: 20px;
}

.text-turn .square {
  border: none;
  width: auto;
}

.text-turn .is-selected {
  background: none;
}

.text-turn .is-not-selected {
  color: #000;
}

/* Estilos Modal */
.modal-win {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  place-items: center;
  position: absolute;
  z-index: 1;
  height: 40%;
  width: 40%;
  padding: 0;
  background-color: #000;
  border: 1px solid #FFF;
  border-radius: 25px;
}

.title-result {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  font-size: 25px;
  text-align: center
}

.title-result h2, h3 {
  margin: 0;
}

.winner-icon div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  padding-bottom: 30px;
  width: 1.5em;
  height: 1.5em;
  border-color: #a6a809;
  color: #a6a809;
}

.modal-options {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.modal-options button {
  margin-bottom: 15px;
  padding: 0.7em;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #000;
  border-radius: 25px;
}

.modal-options button:hover {
  background-color: #c4bebe11;
}

.new-game {
  color: #3bb91ba2;
  border: 1px solid #3bb91ba2;
}

.restart-progress {
  color: #9e2222cb;
  border: 1px solid #9e2222cb;
}

